@media all and (max-width: 600px) {
  .game {
    gap: 15px;
    padding: 0;
    margin-block: 10px;
  }

  .box {
    height: 25%;
    width: 25%;
  }

  #cong-gif {
    height: 30%;
    transform: translate(-15px, 10px);
  }
}
